    {% load static %}

    <head>
        <link rel="stylesheet" href="{% static 'app/style.css' %}">
    </head>
    

    <h1>Herkesler Merhaba</h1>

    {{request.user}}

    <br>

    <h2>The best bootcamp is {{title | upper | truncatechars:6}}!</h2>

    <h3>{{dict1.django | title}}</h3>

    {% for i in my_list %}
    <li>{{ i }}</li>
    {% endfor %}

    
   <!-- <h3>This is commented</h3> -->

    
    {% comment %}
        This 
        is
        multi
        line
    {% endcomment %}

    <img src="{% static 'app/ayakkabı fırlatma komik.jpeg' %}" alt="ayakkabı" height="300">
    <br>
    <img src="{% static 'app/indir.jpg' %}" alt="yaprak" height="300" width="200">
        
        
    
 
 
     
        

