{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'app/style.css' %}">
</head>


<h1>Merhaba</h1>


{% for i in okul %}
{% if i == 'Erciyes' %} 


<ul>
    <li>
        <h3 style="background-color: purple;" >Güzel Okul {{ i | upper }} </h3>
    </li>
</ul>
{% elif i == 'Tekden' %} 
<ul>
    <li>
        <h3 style="background-color: red;" >Özel Okul {{ i }} </h3>
    </li>
</ul>


{% else %} 
<ul>
    <li>
        <h3 style="background-color: crimson;" >İstanbul'da Üniversite {{ i | title }} </h3>
    </li>
</ul>


{% endif %}
{% endfor %}


    


    

    

{{request.user}}