


.container{
font-size:30px;
font-weight: 600;
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
background-color:#3FA4BD;
opacity: 0.7;
border-radius:50%;
display: inline-block;
padding:50px;
border:1px solid white ;
position:relative;
top:100px;



}

.usercode{

padding: 10px;
border-radius:10px;
background-color:#0F3945;
font-family: Roboto-Bold;
color:white;
border: 2px white solid;


}
.sub{
    font-family: Roboto-Bold;
    padding: 10px;
    border-radius:10px;
    background-color:#0F3945;
    text-decoration: none;
    font-size:20px;
    color:white;
    border: 2px white solid;
    transition: 3s ease-out;
    }