//Variables Declerations;
$bgColor : pink;
$fontColor : white;
$fontSize :1.2rem;

$fontFamily:'Bowlby One SC', 'Lato', 'Redressed', 'Righteous', 'Shizuru', sans-serif;
$navBgColor: #30a7c3;
$sliderBgColor:#cc6699;
$color : red;
$myBorder : purple solid;
